@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
/* Montserrat Alternate */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@800;900&display=swap');

* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding: 0;
}

.jumbotron {
    font-size: 2em;
    padding: 60px;
    color: #ffffff81;
    text-align: center;
    background-image: url('./img/jumbotron.jpg');
    object-fit: cover;
    object-position: center;

}

article {
    box-shadow: 0 4px 08px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.imgArticle {

    width: 100%;
    max-height: 500px;
    border-radius: 10px;
    background-size: contain;
    object-fit: cover;
    object-position: center;
}

header {
    display: inline;
}


nav {
    background-color: #1c1d1f;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 50%, #ffffff 100%);
    padding: 5px;
    position: sticky;
    top: 0;


}

ul li a {
    text-decoration: none;
    color: rgb(141, 138, 153);
}

a:hover {

    transition: all 0.3s ease-in;
    color: white;
}

ul li {
    display: inline;
    margin-right: 30px;
    list-style-type: none;
}

/* li::before,
li::after {
    content: ;
    border-bottom: 1px;
// Pseudo element on going
} */



header,
h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

p,
h3 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1em;
}




iframe {
    width: 100%;
    height: 500px;
    border-radius: 4px;
}

main {
    padding: 20px;
    overflow: auto;

}

#content {
    width: 75%;
    float: left;
}

aside .owner {
    border-radius: 50%;
    width: 200px;

border-style: f;
}

aside {
    box-shadow: rgba(0, 0, 0, 0.2);
    float: right;
    width: 25%;
    padding-left: 20px;
}

aside .profile {
    text-align: center;
}

aside section table {
    text-align: left;
}

article table {
    font-family: 'Montserrat Alternates', sans-serif;
}

.Footer {
    padding: 5px;
    background-color: #8EC5FC;
    color: black;
    text-align: center;
    font-weight: bold;
}

/* CSS Media Query mengatur tampilan pada ukuran tertentu */
@media screen and (max-width: 900px) {

    #content,
    aside {
        width: 100%;
        padding: 0;
    }




}